a {
  text-decoration: none;
  color: #222;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  background: url("../public/images/backgrounds/digital-art-3300802_1920.jpg")
    no-repeat fixed 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  overflow-x: hidden;
  animation: moveBackground 36.5s linear infinite;

  @keyframes moveBackground {
    0% {
      background-position: 0% 0%;
    }

    50% {
      background-position: 100% 100%;
    }

    100% {
      background-position: 0% 0%;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 25%;
  padding: 0px 40px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0px 5% 0px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 15%;
  }

  .wrapper {
    text-align: center;
  }

  .page-title {
    padding: 20px 0px;
  }

  form div {
    margin-bottom: 14px;
  }
  label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    background: rgba(255, 255, 255, 0.5);
    border: 2px #000000 solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
    max-width: 240px;
  }
  textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
  }
  input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
    width: 100px;
    height: 40px;
    margin-bottom: 10%;
    background-color: black;
    color: white;
    border-radius: 10%;
    font-size: large;
    font-family: Cambria;
  }

  .location {
    width: 650px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7% 0px;
    padding: 0px 0px 3% 0px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10%;

    ul {
      list-style: none;
    }
  }
}

footer {
  height: 15vh;
}

@media (max-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 15%;
    padding: 0px 20px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact {
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10% 0px 5% 0px;
      background-color: rgb(255, 255, 255, 0.8);
      border-radius: 15%;
    }

    .wrapper {
      text-align: center;
    }

    .page-title {
      padding: 20px 0px;
    }

    .location {
      width: 400px;
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5% 0px;
      background-color: rgb(255, 255, 255, 0.8);
      border-radius: 10%;

      ul {
        list-style: none;
      }
    }
  }
}
