a {
  text-decoration: none;
  color: #222;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  background: url("../public/images/backgrounds/digital-art-3300802_1920.jpg")
    no-repeat fixed 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  overflow-x: hidden;
  animation: moveBackground 36.5s linear infinite;

  @keyframes moveBackground {
    0% {
      background-position: 0% 0%;
    }

    50% {
      background-position: 100% 100%;
    }

    100% {
      background-position: 0% 0%;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 25%;
  padding: 0px 40px;
}

main {
  .section-one {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title-text-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 5vh;

      .title {
        font-size: 70px;
        margin: 20px 0px;
        font-weight: 900;
        color: white;
        text-shadow: 3px 3px 3px black;
      }

      .sub-title {
        font-size: 25px;
        font-weight: 900;
        color: white;
        text-shadow: 3px 3px 3px black;
      }
    }
  }
}

@media (max-width: 600px) {
  main {
    .section-one {
      &__title-text-area {
        .title {
          font-size: 55px;
          margin: 15px 0px;
          font-weight: 900;
          color: white;
          text-shadow: 3px 3px 3px black;
        }

        .sub-title {
          font-size: 20px;
          font-weight: 900;
          color: white;
          text-shadow: 3px 3px 3px black;
        }
      }
    }
  }
}
